// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark {
    background-color: #202020 !important;
}
.dropdown-menu {
    background-color: #202020 !important;
}

body,
input,
textarea,
button.page-link,
.video-card {
    background-color: #181818 !important;
    color: white !important;
}
.card,
.dropdown-item {
    background-color: #202020;
    color: #fff;
}
.dropdown-item:hover {
    background-color: #373737;
    color: #fff;
}

a {
    color: #52b2ff;
}
a:hover {
    color: #0085ff;
}

.views-info {
    color: #777 !important;
}
.release-info {
    color: #aaa !important;
}


.btn-info {
    color: #fff;
}

.channel-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.125);
    .channel-avatar-overlay {
        display: none;
    }
    &:hover {
        .channel-avatar-overlay {
            position: absolute;
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.video-upload {
    cursor: pointer;
}

.video-js .vjs-control-bar {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.vjs-default-skin .vjs-big-play-button {
    line-height: 1.5em !important;
    height: 1.5em !important;
    width: 3em !important;
    /* Align center */
    left: 50% !important;
    top: 50% !important;
    margin-left: -1.5em !important;
    margin-top: -0.75em !important;
}

hr {
    background-color: #2d2d2d !important;
}

::placeholder {
    color: white !important;
    opacity: 0.5 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

.emimmtube-logo {
    fill: #fff !important;
}

.thumbs-up,
.thumbs-down {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #909090;
    fill: currentColor;
}

.thumbs-down {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.thumb-up-active,
.thumb-down-active {
    color: #3EA6FF;
}

.w-full {
    width: 100% !important;
}
.w-80 {
    width: 80% !important;
}

.btn-outline-info:hover,
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:focus {
    color: #6cb2eb;
    border-color: #6cb2eb;
    background-color: transparent;
}
.btn-outline-light:hover,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:focus {
    color: #f8f9fa;
    border-color: #f8f9fa;
    background-color: transparent;
}
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:focus {
    color: #38c172;
    border-color: #38c172;
    background-color: transparent;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:focus {
    color: #3490dc;
    border-color: #3490dc;
    background-color: transparent;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}
.btn-outline-info:focus,
.btn-outline-primary:focus,
.btn-outline-light:focus,
.btn-outline-success:focus,
.btn-dark:focus,
.btn-danger:focus,
.btn-success:focus,
.btn-info:focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}
